@import '~include-media/dist/include-media';
@import "tailwindcss";

$gray: #222222;
$whiter: #e1dfde;

:root {
    --background: $gray;
    --foreground: #171717;
}

.main {
    background: #fff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: #080808;
    color: var(--foreground);
    font-family: "Montserrat", Sans-serif;

    &.dark {

        .header {
            background: #000;

            * {
                color: #fff;
            }
        }

        .main,
        .about,
        .work {
            background: #000;
        }
    }
}

::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, scale;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1;
    animation: none !important;
}

.wrapper {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;

    @include media('<=1024px') {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.pagebasic {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #fff;
    padding-top: 40px;
}

.btn {
    position: relative;
    width: fit-content;
    padding: 10px 16px;
    border-radius: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    transition: .34s cubic-bezier(0.215, 0.610, 0.355, 1.000);

    &.white {
        background: #fff;
        color: #000;

        &:before {
            background: #fff;
        }

        &:hover {
            color: #fff;
        }
    }

    &:before {
        content: "";
        width: 0;
        height: 1px;
        background: $gray;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 10px;
        opacity: 0;
        transition-delay: 0.4s;
        transition: .34s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    &:hover {
        background: transparent;
        color: $gray;

        &:before {
            opacity: 1;
            width: calc(100% - 32px);
        }
    }
}

.title {
    font-size: 120px;
    font-weight: 600;
    line-height: 0.8;

    @include media('<1450px') {
        font-size: 100px;
    }

    @include media('<1150px') {
        font-size: 80px;
    }

    @include media('<=1024px') {
        font-size: 70px;
    }

    @include media('<768px') {
        font-size: 50px;
        width: 100%;
    }

    @include media('<250px') {
        font-size: 20px;
    }
}

.title-massive {
    font-size: 190px;
    font-weight: 600;
    line-height: 0.8;

    @include media('<1450px') {
        font-size: 120px;
    }

    @include media('<1150px') {
        font-size: 100px;
    }

    @include media('<=1024px') {
        font-size: 80px;
    }

    @include media('<768px') {
        font-size: 50px;
        width: 100%;
    }

    @include media('<250px') {
        font-size: 20px;
    }
}

@import "header";
@import "homepage";
@import "about";
@import "work";